DB_HOST=localhost
DB_NAME=oliviera_iot
DB_USER=oliviera_iot
DB_PASS="Iot#Olution1"
API_KEY=fdGTMoptd5CD2ert3
ALERT_EMAIL=arnould.svt@gmail.com
NOTIF_EMAIL_RECIPIENT=oliv.arn.lau@gmail.com
MAIL_FROM="Aquaponie <arnould.svt@gmail.com>"